# Server
PORT=10000
NODE_ENV=production

# Database
DB_HOST=119.59.100.50
DB_PORT=3306
DB_NAME=pomsiri_personnel_db
DB_USER=pomsiri_personnel_db
DB_PASSWORD=s8@^ob_Zl8rmilyk

# JWT
JWT_SECRET=xK9anM2$pL7
JWT_EXPIRES_IN=24h

# Upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880

# Session
SESSION_TIMEOUT=86400000
