# Dependencies
node_modules/

# Environment
.env

# Uploads
uploads/profiles/*
uploads/documents/*
!uploads/profiles/.gitkeep
!uploads/documents/.gitkeep

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
